body {
		background-image: url("./background2.jpg");
		background-size: cover;
	}
	div {
		display: inline-block;
		width: 6rem;
		height: 6rem;
		border: 3px solid black;
		border-radius: 5px;
		text-align: center;
		text-shadow: 0 1 black;
		background-color: rgba(0,0,0,0.4);
		color: white;
		margin: .7rem;
		font-family: sans-serif;
	}
	.keys {
		justify-content: center;
		display: flex;
		margin-top: 18%;
	}
	kbd {
		font-size: 4em;
		display: inline-block;
		padding-top: 15%;
	}
	span {
		font-size: 10px;
		font-weight: 600;
		color: yellow;
	}
	.playing {
		border: 3px solid #ff0;
		box-shadow: 0 0 20px yellow;
		transition: transform 0.07s;
		transform: scale(1.1);
	}